---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'About Me';
---

<BaseLayout pageTitle={pageTitle}>
	<div class="flex-1 bg-neutral-800">
		<div class="container mx-auto px-4 p-6 text-white">
			<h1 class="pb-8">My Life Story</h1>
			<p>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae
				repellat velit numquam perspiciatis ducimus laboriosam rem, amet illum
				quia ad incidunt ex veritatis quo veniam nisi maxime officiis commodi.
				Officiis repudiandae doloribus voluptas molestiae excepturi dolore sequi
				ullam, velit quidem impedit non, mollitia fugit ratione molestias
				nesciunt! Alias, eveniet reprehenderit.
			</p>
			<p>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae
				repellat velit numquam perspiciatis ducimus laboriosam rem, amet illum
				quia ad incidunt ex veritatis quo veniam nisi maxime officiis commodi.
				Officiis repudiandae doloribus voluptas molestiae excepturi dolore sequi
				ullam, velit quidem impedit non, mollitia fugit ratione molestias
				nesciunt! Alias, eveniet reprehenderit.
			</p>
			<p>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae
				repellat velit numquam perspiciatis ducimus laboriosam rem, amet illum
				quia ad incidunt ex veritatis quo veniam nisi maxime officiis commodi.
				Officiis repudiandae doloribus voluptas molestiae excepturi dolore sequi
				ullam, velit quidem impedit non, mollitia fugit ratione molestias
				nesciunt! Alias, eveniet reprehenderit.
			</p>
		</div>
	</div>
</BaseLayout>
