---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="bg-background px-8">
    <h1 class="text-white">Thank you for contacting, I'll get back to you!</h1>
    <button
      class="bg-accent rounded rounded-2xl p-4 w-24 h-16 text-white font-semibold uppercase"
      onclick="history.back()">Go Back</button
    >
  </section>
</BaseLayout>
