---
import { db, Users } from "astro:db";
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import Skills from "../components/Skills.astro";
import BlogAction from "../components/BlogAction.astro";
import Connect from "../components/Connect.astro";
import MailList from "../components/MailList.astro";

export const prerender = false;

const pageTitle = "Markus Ryöti | Home";
const metaDescription = "Markus Ryöti - Software Engineering consultant";

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const email = formData.get("email");

  if (typeof email === "string") {
    try {
      await db.insert(Users).values({ email });
      return Astro.redirect("/email-thank-you");
    } catch (error) {
      console.error(error);
    }
  }
}
---

<BaseLayout pageTitle={pageTitle} metaDescription={metaDescription}>
  <Hero />
  <Skills />
  <div
    class="flex flex-col md:flex-row py-20 md:pt-40 bg-background gap-8 md:gap-0"
  >
    <BlogAction />
    <Connect />
  </div>
  <MailList />
</BaseLayout>
