---
import Button from './Button.astro';
---

<div class="flex-1 bg-background px-4 py-10">
	<div class="flex flex-col items-center h-2/3">
		<h2 class="text-brandwhite">I occasionally write about stuff</h2>
		<h4 class="text-accentlight text-center">
			Some of the things that I have experience in
		</h4>
	</div>
	<div class="flex justify-center py-8">
		<Button className="bg-brandwhite">
			<a href="/blog" class="text-accent">Read Blog</a>
		</Button>
	</div>
</div>
