---
import Button from './Button.astro';
---

<div class="flex-1 bg-background px-4 py-10">
	<div class="flex flex-col items-center h-2/3">
		<h2 class="text-brandwhite">Let's connect</h2>
		<h4 class="text-accentlight text-center">
			I'm not looking for a job, but I'm always willing to discuss about
			technical stuff and how I could help
		</h4>
	</div>
	<div class="flex justify-center py-8">
		<Button className="">
			<a href="mailto:mryoti@gmail.com">Contact</a>
		</Button>
	</div>
</div>
