---
import ActionCard from "./ActionCard.astro";
import Button from "./Button.astro";
---

<ActionCard>
  <div class="flex flex-col items-center h-2/3 px-8">
    <h3 class="text-3xl text-brandwhite">Let's connect</h3>
    <h4 class="text-2xl text-accentlight text-center">
      I'm not looking for a job, but I'm always willing to discuss about
      technical stuff and how I could help
    </h4>
  </div>
  <div class="flex justify-center py-8">
    <Button className="">
      <a href="/contact">Contact</a>
    </Button>
  </div>
</ActionCard>
