---

---

<form method="POST">
  <div>
    <label for="email">Email</label>
    <input name="email" type="email" />
  </div>
  <div>
    <label for="subject">Subject</label>
    <input name="subject" type="text" />
  </div>
  <div>
    <label for="message"></label>
    <textarea name="message" id="message"></textarea>
  </div>
  <div>
    <button type="submit">Send</button>
  </div>
</form>
