---

---

<div
  id="cookie-consent"
  class="fixed bottom-4 right-2 md:right-4 z-50 bg-slate-800 text-white p-4 rounded-lg shadow-md"
  style="display: none;"
>
  <p>
    We use cookies for visitor analytics <a
      href="/privacy"
      class="text-white underline">Learn more</a
    >
  </p>
  <div class="flex space-x-4 pt-2">
    <button
      class="bg-slate-300 text-slate-800 px-4 py-2 rounded-md"
      id="cookie-accept-button">Accept</button
    >
    <button
      class="bg-slate-600 text-white px-4 py-2 rounded-md"
      id="cookie-decline-button">Decline</button
    >
  </div>
</div>

<script>
  type CookieConsentStore = {
    consentSet: boolean;
    cookiesAllowed: boolean;
  };

  document.addEventListener("astro:page-load", () => {
    addEventListeners();
    handleCookiePreferences();
  });

  function addEventListeners() {
    document
      .querySelector("#cookie-accept-button")
      ?.addEventListener("click", () => {
        saveCookiesAllowed(true);
        handleCookiePreferences();
      });

    document
      .querySelector("#cookie-decline-button")
      ?.addEventListener("click", () => {
        saveCookiesAllowed(false);
        handleCookiePreferences();
      });
  }

  function handleCookiePreferences() {
    const consent = JSON.parse(
      localStorage.getItem("cookie-consent") ?? "null"
    ) as CookieConsentStore | null;

    if (!consent || !consent.consentSet) {
      console.log("no consent, opt out of capturing");
      window.posthog.opt_out_capturing();
      displayCookieToast();
      return;
    }

    if (consent.cookiesAllowed) {
      console.log("opting in to analytics");
      window.posthog.opt_in_capturing();
    } else {
      console.log("opting out of analytics");
      window.posthog.opt_out_capturing();
    }

    hideCookieToast();
  }

  function saveCookiesAllowed(allow: boolean) {
    const consent: CookieConsentStore = {
      consentSet: true,
      cookiesAllowed: allow,
    };

    console.log("saving cookie consent", consent);

    localStorage.setItem("cookie-consent", JSON.stringify(consent));
  }

  function hideCookieToast() {
    document
      .querySelector("#cookie-consent")
      ?.setAttribute("style", "display:none;");
  }

  function displayCookieToast() {
    document
      .querySelector("#cookie-consent")
      ?.setAttribute("style", "display:block;");
  }
</script>
