---
import { Image } from "astro:assets";
import heroImg from "../assets/images/IMG_4261.jpeg";
import Button from "./Button.astro";
---

<section class="md:flex bg-background pt-4 pb-8 h-screen">
  <div
    class="flex flex-wrap flex-col-reverse gap-16 md:flex-row md:flex-nowrap md:justify-center md:items-center mx-auto md:py-8"
  >
    <div class="flex justify-center items-center flex-col p-4">
      <div class="flex flex-col items-center pb-2 pt-0">
        <h1 class="text-4xl text-brandwhite">Hi!</h1>
        <p class="text-center text-accentlight">
          I'm Markus, a fullstack software consultant
        </p>
      </div>
      <Button className="mt-2">
        <a href="/about">My Story</a>
      </Button>
    </div>
    <div class="flex justify-center items-center">
      <Image
        src={heroImg}
        alt="portrait"
        width="400"
        height="400"
        class="h-96 w-auto md:h-full md:rounded-2xl grayscale text-brandwhite"
      />
    </div>
  </div>
</section>
