---
import { Image } from 'astro:assets';
import heroImg from '../assets/images/IMG_4261.jpeg';
import Button from './Button.astro';
---

<section class="bg-background pt-4 pb-8 flex-1 flex h-full">
	<div
		class="flex flex-wrap flex-col-reverse md:flex-row md:flex-nowrap mx-auto px-8 py-8"
	>
		<div class="flex flex-1 justify-center items-center flex-col p-4">
			<div class="flex flex-col items-center pb-2 pt-0">
				<h1 class="text-4xl text-brandwhite">Hi!</h1>
				<p class="text-center text-accentlight">
					I'm Markus, a fullstack software consultant
				</p>
			</div>
			<Button className="mt-2">
				<a href="/about">My Story</a>
			</Button>
		</div>
		<div class="flex flex-1 justify-center items-center">
			<div>
				<Image
					src={heroImg}
					alt="portrait"
					class="rounded-lg grayscale text-white"
					width="400"
					height="200"
				/>
			</div>
		</div>
	</div>
</section>
