---

---

<div class="flex justify-center w-full bg-background p-6">
	<a href="/" class="p-4 text-white font-bold">Home</a>
	<a href="/about/" class="p-4 text-white font-bold">About</a>
	<a href="/blog/" class="p-4 text-white font-bold">Blog</a>
</div>
