---
const { url, title, description, date } = Astro.props;
---

<li class="py-8 px-4">
	<a href={url} class="text-lg font-bold">{title}</a>
	<p>{description}</p>
	<p class="text-sm italic">{date}</p>
</li>
