---
import Button from "./Button.astro";
---

<section class="bg-background px-4 py-20">
  <div class="flex flex-col items-center">
    <h2 class="text-4xl text-brandwhite">My Skills</h2>
    <h3 class="text-3xl text-accentlight text-center">
      Some of the things that I have experience in
    </h3>
  </div>
  <div class="flex flex-col items-center py-4">
    <h4 class="text-2xl text-brandwhite uppercase font-bold">Go</h4>
    <p class="text-lg text-accentlight">My favorite for creating backends</p>
  </div>
  <div class="flex flex-col items-center py-4">
    <h4 class="text-2xl text-brandwhite uppercase font-bold">React</h4>
    <p class="text-lg text-accentlight">
      What I have most experience in creating frontends. I have also used React
      Native and Next.js
    </p>
  </div>
  <div class="flex flex-col items-center py-4">
    <h4 class="text-2xl text-brandwhite uppercase font-bold">Node.js</h4>
    <p class="text-lg text-accentlight">
      Naturally related to working with React but I have used it to create APIs
      as well
    </p>
  </div>
  <div class="flex flex-col items-center py-4">
    <h4 class="text-2xl text-brandwhite uppercase font-bold">Python</h4>
    <p class="text-lg text-accentlight">
      I used to do more testing and automation work and this is where I used
      Python. Still using it time to time and feel comfortable with it
    </p>
  </div>
  <div class="flex flex-col items-center py-4">
    <h4 class="text-2xl text-brandwhite uppercase font-bold">System Design</h4>
    <p class="text-lg text-accentlight">
      This is something that has started to be more and more important as my
      career has progressed
    </p>
  </div>
  <div class="flex flex-col items-center py-4">
    <h4 class="text-2xl text-brandwhite uppercase font-bold">
      Mentoring/helping others
    </h4>
    <p class="text-lg text-accentlight">
      All the same comments as in the previous point
    </p>
  </div>
  <div class="flex justify-center py-8">
    <Button className="">
      <a href="/contact"> Ask More </a>
    </Button>
  </div>
</section>
