---
import Button from './Button.astro';
---

<div class="bg-background px-4 py-20">
	<div class="flex flex-col items-center">
		<h2 class="text-brandwhite">My Skills</h2>
		<h4 class="text-accentlight text-center">
			Some of the things that I have experience in
		</h4>
	</div>
	<div class="flex flex-col items-center py-4">
		<h5 class="text-brandwhite uppercase font-bold text-lg">Go</h5>
		<p class="text-accentlight">My favorite for creating backends</p>
	</div>
	<div class="flex flex-col items-center py-4">
		<h5 class="text-brandwhite uppercase font-bold text-lg">React</h5>
		<p class="text-accentlight">
			What I have most experience in creating frontends. I have also used React
			Native and Next.js
		</p>
	</div>
	<div class="flex flex-col items-center py-4">
		<h5 class="text-brandwhite uppercase font-bold text-lg">Node.js</h5>
		<p class="text-accentlight">
			Naturally related to working with React but I have used it to create APIs
			as well
		</p>
	</div>
	<div class="flex flex-col items-center py-4">
		<h5 class="text-brandwhite uppercase font-bold text-lg">Python</h5>
		<p class="text-accentlight">
			I used to do more testing and automation work and this is where I used
			Python. Still using it time to time and feel comfortable with it
		</p>
	</div>
	<div class="flex flex-col items-center py-4">
		<h5 class="text-brandwhite uppercase font-bold text-lg">System Design</h5>
		<p class="text-accentlight">
			This is something that has started to be more and more important as my
			career has progressed
		</p>
	</div>
	<div class="flex flex-col items-center py-4">
		<h5 class="text-brandwhite uppercase font-bold text-lg">
			Mentoring/helping others
		</h5>
		<p class="text-accentlight">
			All the same comments as in the previous point
		</p>
	</div>
	<div class="flex justify-center py-8">
		<Button className="">
			<a href="mailto:mryoti@gmail.com"> Ask More </a>
		</Button>
	</div>
</div>
